# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Distribution / packaging
build/
MANIFEST
build
site

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Testing
/Testing

# Environments
.env
.envrc
.venv
env/
venv/

# mkdocs documentation
/site
mkdocs_material.egg-info

# debug information files
*.dwo

# Visual Studio Code
.vscode/
/.vscode/
/out/
/.vs/

# Cora Artifacts
sample/
/*.cora

CLAUDE.md
GEMINI.md
